body {
  background-color: #273f63;
  color: #FFFFFF;
}

div.card {
  background-image: url(images/clam.jpg);
  border: 3px solid #FFFFFF;
  box-shadow: 10px 10px #00000045;
  border-radius: 1%;
  width: 310px;
  padding: 5px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: justify;
  margin: auto;
}

.element {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 5px;
}

div.container {
  position: relative;
  margin: 5px;
}

img {
  border-radius: 2%;
  padding-bottom: 3px;
  filter: saturate(200%);
}